{% extends 'index.html' %}

{% block content %}
    <div class="profile_box">
        <h3 class="profile_h3">Профиль пользователя</h3>

        <div style="flex: 2; padding-left: 30px;">
            <div class="user-info">
                <div class="info-row">
                    <span class="info-label">Имя:</span>
                    <span class="info-value">{{ user.first_name }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Фамилия:</span>
                    <span class="info-value">{{ user.last_name }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Email:</span>
                    <span class="info-value">{{ user.email }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Телефон:</span>
                    <span class="info-value">{{ user.phone_number }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Роль:</span>
                    <span class="info-value">
                        {% if user.role_id == 2 %}Admin
                        {% elif user.role_id == 1 %}User
                        {% else %}User{% endif %}
                    </span>
                </div>
                <h4 class="profile_h2">Любимые жанры:</h4>
                    <div class="selected-genres">
                        <span class="genre-tag">Поп</span>
                        <span class="genre-tag">Хип-хоп</span>
                        <span class="genre-tag">Джаз</span>
                        <span class="genre-tag">Funk</span>
                    </div>  

                    <h4 class="profile_h2">Любимые исполнители:</h4>
                    <div class="artists-list">
                        <span class="artist-tag">
                            The Weeknd
                            <span class="remove-artist">&times;</span>
                        </span>
                        <span class="artist-tag">
                            Dua Lipa
                            <span class="remove-artist">&times;</span>
                        </span>
                        <span class="artist-tag">
                            Arctic Monkeys
                            <span class="remove-artist">&times;</span>
                        </span>
                        <span class="artist-tag">
                            Billie Eilish
                            <span class="remove-artist">&times;</span>
                        </span>
                    </div>
            </div>

            {% if user.role_id == 2 %}
            <form action="/api/v1/users/" class="logout-form">
                <button type="submit" class="role-btn">Админ панель</button>
            </form>
            {% endif %}

            <form action="/api/v1/auth/logout" method="post" class="logout-form">
                <button type="submit" class="logout-btn">Выйти</button>
            </form>

        </div>
    </div>
{% endblock %}